* {
  outline: 2px solid red;
}

.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin: .2em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-items: space-around;
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}
